@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-primary text-primary hover:bg-primary-200 rounded-full dark:bg-secondary dark:text-secondary;
  }

  .btn-outline {
    @apply px-4 py-2 border border-primary dark:border-secondary dark:text-secondary text-primary rounded-full hover:bg-fade-blue hover:text-secondary dark:hover:border-white dark:hover:text-white;
  }

  .btn-disabled {
    @apply px-4 py-2 bg-fade-blue text-secondary-light rounded-full;
  }

  .btn-danger {
    @apply px-4 py-2 bg-red-600 hover:bg-red-700 text-primary-dark rounded-full;
  }

  .selector {
    @apply h-10 w-40 rounded-lg shadow-sm border-gray-100 border;
  }
  .runner-button {
    @apply bg-blue-500 text-white w-full px-3 py-1 rounded-md flex items-center justify-between gap-3 hover:bg-blue-700;
  }
  .runner-button--disabled {
    @apply bg-gray-500 text-white w-full px-3 py-1 rounded-md flex items-center justify-between gap-3 cursor-not-allowed;
  }
}
